/* Base  */
:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
}

body {
  color: var(--bakery-landing-1-s1);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  border: 2px solid var(--bakery-landing-1-c2);
  background: var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--bakery-landing-1-background);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--bakery-landing-1-s3);
}

/* Link */
.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-background);
}

.link:hover {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}

/* Hero Section */
.hero-tile {
  color: var(--bakery-landing-1-background);
}

.hero-tile .accent {
  color: var(--bakery-landing-1-s3);
}

/* Tradition Section */
.advantages-list {
  background-color: var(--bakery-landing-1-s3);
  color: var(--bakery-landing-1-background);
}

.section-title .accent {
  color: var(--bakery-landing-1-s3);
}
