/* Base  */

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
}

body {
  color: var(--bakery-landing-1-s1);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

address {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  border: 2px solid var(--bakery-landing-1-c2);
  background: var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  min-width: 238px;
  font-weight: 600;
  color: var(--bakery-landing-1-background);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.button:hover {
  background-color: transparent;
  color: var(--bakery-landing-1-s3);
}

/* Link */
.link {
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}

/* Hero Section */
.hero-tile {
}

.hero-tile h1 {
  color: var(--bakery-landing-1-background);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}

.hero-tile .accent {
  color: var(--bakery-landing-1-s3);
}

/* Tradition Section */
.advantages-list {
  background-color: var(--bakery-landing-1-s3);
  color: var(--bakery-landing-1-background);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
}

.section-title .accent {
  color: var(--bakery-landing-1-s3);
}

.uppercase {
  text-transform: uppercase;
}

.colorBrand {
  color: var(--bakery-landing-1-c2);
  font-weight: 600;
}

/* Chefs section */
.chefs-name {
  font-weight: 600;
  font-size: 40px;
}

/* Formats section */
.cards-name {
  font-weight: 600;
  font-size: 24px;
  color: var(--bakery-landing-1-background);
}

.cards p {
  font-weight: 300;
  color: var(--bakery-landing-1-background);
  font-size: 14px;
}

/* Contacts section */
.contacts-section p {
  color: var(--bakery-landing-1-s3);
}

address li a {
  font-weight: 300;
  font-size: 16px;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}
