/* Base  */

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-brand-light: #cfcfbc;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

/* Button */
.button {
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 32px;
  min-width: 238px;
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.link {
  text-align: center;
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero Section */
.hero-section {
  padding: 272px 0;
  background-image: url('../img/couple-in-bakery.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-tile {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}

.hero-tile .accent {
  color: var(--color-brand-dark);
}

/* Adventages section */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-dark);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-primary-light);
}

/* Tradition Section */

.tradition-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.tradition-title {
  margin-bottom: 42px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.tradition-text {
  max-width: 360px;
}

.uppercase {
  text-transform: uppercase;
}

.colorBrand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* Chefs section */
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  margin: 0 auto 80px;
  max-width: 520px;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: ' ';
}

.chefs-name {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

/* Formats section */
.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  flex-wrap: wrap;
}

.cards {
  height: 444px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray; /*remove*/
  border-radius: 16px;
  padding: 24px;
}

.cards-name {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary-light);
}

.cards p {
  font-weight: 300;
  color: var(--color-primary-light);
  font-size: 14px;
}

/* Contacts section */
.contacts-title {
  margin-bottom: 16px;
}

.contacts-section p {
  color: var(--color-brand-dark);
}

address li a {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}

/* Footer */
.footer {
  background-image: url('../img/footer-bgc.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
