@import './utils/fonts';
@import './utils/variables';
@import '../scss/base';
@import './utils/utils';
@import './components/input';
@import './utils/texts';

@import './components/buttons';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/tradition-section';
