.button {
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  border-radius: 8px;
  padding: 16px 32px;
  min-width: 238px;
  font-weight: 600;
  color: var(--color-primary-light);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
