.hero-section {
  padding: 272px 0;
  background:
    linear-gradient(
      127deg,
      rgba(18, 18, 17, 0.78) 0%,
      rgba(18, 18, 17, 0.6) 63.89%,
      rgba(18, 18, 17, 0) 100%
    ),
    url('../img/couple-in-bakery.jpg');

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-weight: 900;
    font-size: 128px;
  }
}
